extends layout

block content
    #box
      #box-right
        h4 Thể loại
        br
        a(href='#') action
        a(href='#') comedy
        a(href='#') drama
        a(href='#') comic
        a(href='#') horror
        a(href='#') fantasy
        a(href='#') music
        a(href='#') psychological
        a(href='#') school life
        a(href='#') seinen
        a(href='#') manga
        a(href='#') tiểu thuyết
        a(href='#') manga
        a(href='#') manga
        a(href='#') sprotsssssssssssssssssssssssssssssssssss
    - var x = authors[0]
      #author
        #author-box1
          img(src=x.img)
          #author-box1-2
            h1=x.name
        h2 Thông tin
        hr
        #author-box2
          p=x.info
        h2 Các tác phẩm
        hr
        #author-box3
          #book
            a(href='#')
              img(src='images/maxresdefault.jpg')
            #book-list
              h3 Conan
              a(href='#') Chap 1
              a(href='#') Chap 2
              a(href='#') Chap 3
              a(href='#') Chap 4
              a(href='#') Chap 5
              a(href='#') Chap 6
              a(href='#') Chap 4
              a(href='#') Chap 5
              a(href='#') Chap 6
              a(href='#') Chap 4
              a(href='#') Chap 5
              a(href='#') Chap 6
              a(href='#') Chap 4
              a(href='#') Chap 5
              a(href='#') Chap 6
              a(href='#') Chap 6
              a(href='#') Chap 4
              a(href='#') Chap 5
              a(href='#') Chap 6
              a(href='#') Chap 4
              a(href='#') Chap 5
              a(href='#') Chap 100
          #book
            img(src='images/lk.jpg')
            #book-list
              h3 Naruto
              a(href='#') Chap 1
              a(href='#') Chap 2
              a(href='#') Chap 3
              a(href='#') Chap 4
          #book
            img(src='images/lk.jpg')
          #book
            img(src='images/steve-jobs.jpg')
          #book
            img(src='images/Victor_Hugo_001.jpg')
      #footer
        | © SiteName | Design by Ngo Doan Luong
