* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #e8e8e8;
}

a:hover {
	text-decoration: none;
}

body {
    width:1100px;
    margin:60px auto;
	font-size: 11pt;
	line-height: 1.6em;
	font-family: Arial, sans-serif;
	background: #9ea3a3;
	color: #adadad;
	background: url(bg.jpg);
}

strong {
	color: #ffffff;
}
#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu {
    width: 1100px;
    margin: 60px auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
}
#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}
#menu li {
    float: left;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #fafafa;
}

*html #menu li a:hover { /* IE6 only */
    color: #fafafa;
}
#menu ul {
    margin: 20px 0 0 0;
    margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;   
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    width: 130px;
    height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}
#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}
#header {
    width: 100%;
	position: relative;
	padding: 28px;
	height: 130px;
}
#footer {
	padding: 40px 0 95px 0;
	text-align: center;
	color: #606060;
}

#footer a {
	color: #707070;
}
#logo {
    width:100%;
	position: absolute;
	top: 0;
	left: 28px;
	height: 130px;
	line-height: 130px;
}

#logo a {
	text-decoration: none;
	color: burlywood;
    text-transform: uppercase;
}

#logo h1 {
    
	font-size: 4em;
	font-family: Bevan, serif;
}
#wrapper {
	position: relative;
	width: 1100px;
	margin: 68px auto 0 auto;
}
#search {
	position: absolute;
	top: 0;
	right: 4px;
	height: 130px;
	line-height: 130px;
}

#search input.text {
	padding: 10px 40px 10px 10px;
	background: rgba(15, 20, 20, 0.4) url(search.png) top right no-repeat;
	border: 0;
	color: #c7c8c8;
	width: 280px;
	border: solid 1px #3c3c3c;
}
#box {
    width:100%;
    height:1100px;
}
#box-right {
    width:21%;
    float:right;
    border-style:solid;
    border-width:2px;
    border-color: brown;
}
#box-right h4{
    color:aquamarine;
    font-size:18px;
    font-weight:bold;
}
#box-right a{
    margin-left:2px;
    margin-bottom: 4px;
    text-decoration:none;
    width:46%;
    display:inline-block;
    overflow: hidden;
}
#box h1{
    text-align: left;
    margin-top:10px;
    color:aquamarine;
    font-size: 25px;
    width:77%;
    height:auto;
}
section {
    margin-bottom: auto;
    float:left;
    width:77%;
    height:540px;
    overflow:hidden;
}
#book {
    display:inline-block;
    width:48%;
    height:260px;
}
#book img{
    width:40%;
    height:100%;
}
#book-list {
    width:60%;
    float:right;
    height:100%;
    overflow: hidden;
}
#book-list h3{
    color:cornflowerblue;
    font-size:19px;
}
#book-list a{
    width:48%;
    display:inline-block;
    text-decoration:none;
}
#box h2{
    float:left;
    width:77%;
    text-align: center;
}
#box-left {
    width:78%;
    height:1100px;
    float:left;
}

#box-left h2 a{
    color:burlywood;
    text-decoration:none;
}

